---
// Welcome.astro
// Main content component, to be styled and filled with real text later
// This is the English page
---

<section>
  <!--  Put your own content here -->
  <h1>We are getting married!</h1>
  <p style="text-align: center">
    <b>Save the Date</b>
  </p>
  <div class="info-block">
    <div class="info-item">
      <img src="/fa--calendar.svg" alt="Kalender Icon" class="icon" />
      <strong>Date:</strong>
      <span>May 2nd, 2026</span>
    </div>

    <div class="info-item">
      <img src="/fa--map-marker.svg" alt="Ort Icon" class="icon" />
      <strong>Location</strong>
      <span
        >Lagerhaus Marktbreit <br /> Adam-Fuchs-Straße 2 <br /> 97340 Marktbreit
        <br /> Germany
      </span>
    </div>

    <div class="info-item">
      <img src="/fa--hotel.svg" alt="Hotel Icon" class="icon" />
      <strong>Hotels close by:</strong>
      <span
        >in Marktbreit (walking distance) <br /> in Segnitz (walking distance) <br
        /> in Ochsenfurt (taxi needed)</span
      >
    </div>
  </div>
  <p>We are looking forward to see you all!</p>
  <p>Lu and Sebastian</p>
</section>
