---
// Welcome.astro
// Main content component, to be styled and filled with real text later
// This is the German page
---

<section>
  <!--  Put your own content here -->
  <h1>Willkommen zu unserer Hochzeit!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae velit
    sed libero ultrices posuere.
  </p>

  <p>Save the Date: 12. Oktober 2025 - wir freuen uns auf euch!</p>
</section>
