---
// Welcome.astro
// Main content component, to be styled and filled with real text later
// This is the German page
---

<section>
  <!--  Put your own content here -->
  <h1>Wir heiraten!</h1>
  <p style="text-align: center">
    <b>Save the Date</b>
  </p>

  <div class="info-block">
    <div class="info-item">
      <img src="/fa--calendar.svg" alt="Kalender Icon" class="icon" />
      <strong>Datum:</strong>
      <span>2. Mai 2026</span>
    </div>

    <div class="info-item">
      <img src="/fa--map-marker.svg" alt="Ort Icon" class="icon" />
      <strong>Ort:</strong>
      <span
        >Lagerhaus Marktbreit <br /> Adam-Fuchs-Straße 2 <br /> 97340 Marktbreit
      </span>
    </div>

    <div class="info-item">
      <img src="/fa--hotel.svg" alt="Hotel Icon" class="icon" />
      <strong>Hotels findet ihr in:</strong>
      <span
        >in Marktbreit (in Laufweite) <br /> in Segnitz (in Laufweite) <br /> in
        Ochsenfurt (mit Taxi)</span
      >
    </div>
  </div>

  <p>Wir freuen uns euch alle zu sehen!</p>
  <p>Lu und Sebastian</p>
</section>
