---
// Welcome.astro
// Main content component, to be styled and filled with real text later
// This is the English page
---

<section>
  <!--  Put your own content here -->
  <h1>Welcome to our Wedding!</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. We are so excited
    to celebrate with you!
  </p>

  <p>Save the date: October 12, 2025</p>
</section>
